*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Portico';
    src: url('Portico.otf') format('opentype');
    font-weight: 50;
    font-size: normal;
    font-style: normal;
}


body{
    background-image: url(northern-lights.jpg) ;
    background-size: cover ;
    background-position: center;
    color: white;
    font-family: 'Poppins', sans-serif;

}

.wholePage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}


.main-heading {
    font-family: Portico;
    color:rgb(153, 188, 177);
    font-size: max(20px,5vw);

}

.subheading {
    font-weight: 600;
    font-size: max(14px,2.5vw);
    padding-top: 20px;

}

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar a {
    text-decoration: none;
    color: white;
    transition: all 0.50s ease;
}

.navbar a:hover{
    color: rgb(153, 188, 177);
}

[class ^="box-"] {
    height: 70px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxcontainer{
    display: flex;
    gap: 30px;
}

.box-logo {
    justify-content: flex-start;
    padding: 10px;
    color: white;
    max-width: 80px;
    margin-right: auto;
}

#travel {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 769px) {
    .navbar{
        padding-left: 5px;
        padding-right: 20px;
    } 
    .boxcontainer{
        gap: 20px;
    }
}

@media (max-width: 476px) {
    .boxcontainer{
        flex-direction: column;
        align-items: flex-end;
    }
    .navbar{
        padding-top: 20px;
    }
}