body{
    font-family: Arial;
    font-size: 1.5rem;
    text-align: center;
    }

    .content {
    background-color: red;
    color: white;
    height: 150px;
    border: 25px solid hsl(194, 100%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
     margin-right: 50px;
    }
    
    .padding {
        background-color: hsl(194, 100%, 50%);
        padding-bottom: 25px;
        border: 25px solid hsl(194, 100%, 50%);
        margin-left: 50px;
        margin-right: 50px;
    }



    .padding_border {
        border: 25px solid orange;
    }

    .border {
        background-color: orange;
        padding-bottom: 25px;
        border: 25px solid orange;
        margin-left: 50px;
        margin-right: 50px;
    }

    .border_border{
        border: 25px solid rgb(44, 191, 44);
    }

    .margin {
        background-color: rgb(44, 191, 44);
        padding-bottom: 25px;
        border: 25px solid rgb(44, 191, 44);
        margin: 50px;
    }
    