*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: grid;
    background-color: rgb(35, 60, 83);
    grid-template-columns: 1fr 1fr 1fr 70% 1fr 1fr;
}

.navbar_item {
    place-self: center;
    padding: 5px;
}

.navbar_item a {
    color: white;
    text-decoration: none;
}

#icon{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.container{
    margin: 30px;
    display: grid;
    grid-gap: 30px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

[class ^="box-"] {
    text-align: center;
}

[class ^="box-"] img{
    width: 270px;
    height: 180px;

}

